footer{
    text-align: center;
}

img.albums{
    float:left;
    margin-right: 1%;
    width:25%;
}

img.rating{
    width:3%
}

p{
    margin: 2%;
}

ul{
    list-style-type:none;
}

a.album-title{
    margin-top: 2%;
}

h3.review-sec{
    margin-top:5%;
}

img.socialmedia{
    width:40%;
}

